@model User
<strong>Kullanıcı Ekle</strong>
<form method="post" action="Add">
    <p>Adı: </p><input type="text" name="username" />
    <br />
    <p>Açıklama:</p><input type="text" name="description" />
    <br />
    <input type="submit" value="Kaydet" />
</form>