@model List<User>

<h2>Kullanıcılar:</h2>


@foreach (var item in Model)
{
    <strong>Adı: </strong> @item.UserName <strong>||</strong> <strong>Açıklama: </strong> @item.Description<br />
}
